services:
  # Database
  db:
    image: postgres:16-alpine
    container_name: global_banking_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: banking_system
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    # Health check configuration
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d banking_system" ]
      interval: 5s
      timeout: 5s
      retries: 5

  # Database Migrator (Liquibase)
  liquibase:
    image: liquibase/liquibase:4.25
    container_name: liquibase_migrator
    volumes:
      # Use implicit absolute path to ensure proper volume mapping
      - ${PWD}/migrations:/liquibase/changelog
    command: >
      --changelog-file=changelog-master.xml  --url=jdbc:postgresql://db:5432/banking_system  --username=admin  --password=mysecretpassword  --log-level=info  update
    depends_on:
      db:
        condition: service_healthy

# Persistent storage
volumes:
  pgdata:


networks:
  default:
    name: banking_network
