openapi: 3.1.0
info:
  title: Zori.pay Transactions API
  description: |
    Endpoint to retrieve blockchain transaction history for authenticated users.

    Fetches transactions from Polygon network via Alchemy API, including:
    - Native POL transfers
    - ERC20 token transfers (USDC, USDT, BRL1)
  version: 1.0.0
  contact:
    name: Carlos Augusto Leite Netto
    email: carlos.netto@gmail.com

servers:
  - url: https://api.zori.pay/v1
    description: Production
  - url: https://sandbox.api.zori.pay/v1
    description: Sandbox

tags:
  - name: Transactions
    description: Transaction history endpoints

paths:
  /transactions:
    get:
      operationId: getTransactions
      summary: Get transaction history
      description: |
        Retrieves recent blockchain transactions for the authenticated user.

        Transactions are sorted by block number (most recent first).
        Includes both sent and received transactions.
      tags:
        - Transactions
      security:
        - bearerAuth: []
      parameters:
        - name: currency_code
          in: query
          required: false
          description: Filter by currency (POL, USDC, USDT, BRL1)
          schema:
            type: string
            enum: [POL, USDC, USDT, BRL1]
          example: "USDC"
        - name: limit
          in: query
          required: false
          description: Maximum number of transactions to return (default 50, max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 20
      responses:
        '200':
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token from authentication flow

  schemas:
    TransactionsResponse:
      type: object
      required:
        - address
        - blockchain
        - transactions
      properties:
        address:
          type: string
          description: User's wallet address
          example: "0x3ce7f76c5465858328b8da6b28aa7af0cc54bc68"
        blockchain:
          type: string
          description: Blockchain network
          example: "POLYGON"
        currency_code:
          type: string
          nullable: true
          description: Currency filter applied (if any)
          example: "USDC"
        transactions:
          type: array
          description: List of transactions
          items:
            $ref: '#/components/schemas/Transaction'

    Transaction:
      type: object
      required:
        - hash
        - block_number
        - timestamp
        - from
        - to
        - value
        - formatted_value
        - currency_code
        - decimals
        - status
      properties:
        hash:
          type: string
          description: Transaction hash
          example: "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
        block_number:
          type: integer
          description: Block number where transaction was included
          example: 52345678
        timestamp:
          type: integer
          description: Unix timestamp of the block
          example: 1706918400
        from:
          type: string
          description: Sender address
          example: "0xF766EDB5E3bEbC44098E2C6D06675e7Ba50C28c9"
        to:
          type: string
          description: Recipient address
          example: "0x3ce7f76c5465858328b8da6b28aa7af0cc54bc68"
        value:
          type: string
          description: Raw value in smallest unit
          example: "10000000"
        formatted_value:
          type: string
          description: Human-readable formatted value
          example: "10.00"
        currency_code:
          type: string
          description: Currency code
          example: "USDC"
        decimals:
          type: integer
          description: Token decimals
          example: 6
        status:
          type: string
          enum: [confirmed, pending]
          description: Transaction status
          example: "confirmed"

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid token"

  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Invalid token"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Internal error occurred"
